.h5,
h5 {
  font-size: 1.25rem;
}
.container-box {
  // margin: auto !important;
  margin-top: 10px !important;
}
.needs-validation {
  height: 100%;
}
.box-background {
  background-color: #fff;
  border-radius: 10px;
}
.title-header-left-box {
  position: relative;
}
.container-box {
  width: 85%;
}
.title-header-left-box-card {
  position: absolute;
  top: 50%;
  left: -22%;
  transform: translate(-13%, -50%);
}
.no-padding {
  padding: 0% !important;
}
.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.pt-2,
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}
.mt-5 {
  margin-top: 2.5rem !important;
}
.mt-4 {
  margin-top: 2rem !important;
}
.mr-2,
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1rem !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mb-5 {
  margin-bottom: 2rem !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.btn-hd-yellow {
  background-color: #ffc20e;
  color: #ffffff;
  font-weight: bold;
  padding: 1rem;
  border: none;
  font-size: 1.3rem;
  border-radius: 15px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}
.btn-hd-text {
  color: red;
  padding: 1rem;
  cursor: pointer;
}
#footer {
  margin-top: auto;
  color: #fff;
}
.bg-blue {
  background-color: #051244;
}
.container-padding-footer {
  padding: 3% 13% !important;
}
.containerNew {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.footer-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column !important;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item {
  display: inline-block;
  margin-right: 1.5rem !important;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.d-flex {
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.box-time > button {
  cursor: none !important;
}
.time-down {
  background: #2a195c;
  border-radius: 4px;
  width: 32px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 2% 2%;
  border: none;
}
.font-weight-bold {
  font-weight: 500;
}
.text-right, .box-right-footer {
  text-align: right;
}
#content-show{
  display: none;
}
.provider-logo-mobile {
  display: none;
}
.card {
    background: #fff;
    padding: 5% 2%;
    border-radius: 10px;
  }
  .show-detail-trans {
    display: none;
  }
  .title-timer{
    display: none;
  }