
#fix-frame {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .bg-gradient {
    background: #F4F4F4;
    .nav-padding {
      padding: 1% 5%;
      .logo {
        width: 158px;
      }
    }
    .container-box {
      width: 85%;
      margin-left: 10%;
      .input-validate {
        width: 95%;
        height: 72px;
      }
      // .input-validate >input, .input-card{
      //   border-radius: 10px;
      //   height: 72px;
      //   width: 100% !important;
      //   outline: none;
      // }
      .needs-validation {
        height: 100%;
      }
      .lable-fix {
        border: 1px solid #fff;
        height: 100%;
        border-radius: 15px;
        input {
          border-bottom: none;
        }
        &:focus-within {
          border: 1px solid #fff;
        }
      }
    } 
  }
  .bg-light-secondary {
    background-color: #ffecb3;
  }
  .text-light-secondary {
    color: #f7a30a;
  }
}


@media (max-width: 768px) {
  #fix-frame .bg-gradient {
    .nav-padding{
      padding: 5% 5%;
    }
    .container-box{
      // margin-left: 0% !important;
    }
    .show-detail-trans{
      width: 85%;
      margin: auto;
      margin-top: 20px;
      display: block;
    }
    .container-box-right{
      display: none;
    }
  }

  .logo {
    width: 79px;
  }

  .noti-font-size {
    font-size: 10px !important; 
    line-height: 24px !important;
  }

  .title-card,
  .title-header-left-box {
    display: none;
  }

  .provider-logo-mobile {
    display: block;
    padding: 3% 0%;
  }

  .input-validate {
    width: 100% !important;
  }

  .container-box {
    margin: auto !important;
    margin-top: 10px !important;
  }

  .title-timer {
    display: block;
    width: 85%;
    margin: auto;
  }
  .confirm-transaction {
    display: none;
  }
  .box-right-footer{
    text-align: left;
  }
  .show-detail-trans > .card{
    position: relative;
    .button-hidden{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-45%, 45%);
      width: 30px;
      #slide{
        width: 100%;
        border-radius: 15px;
        border: none;
        background: #fff;
        box-shadow: whie;
        box-shadow: 0px 2px 16px rgb(33 43 54 / 5%);
      }
    }
  }
}
