/*
* Custom Styles
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
$fontFamily: "Open Sans", sans-serif;


@import "@material/layout-grid/mdc-layout-grid";
@import "@material/textfield/mdc-text-field";
@import "@material/floating-label/mdc-floating-label";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/notched-outline/mdc-notched-outline";
@import "./abstracts/general";
@import "./layout/mpgs-purchase.scss";
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  // color: #212529;
  text-align: left;
  background-color: #F9FCFF;
}

img {
  vertical-align: middle;
  border-style: none;
}

.text-center {
  text-align: center;
}
.my-card-content {
  padding: 16px;
}
.my-card {
  height: 350px;
  width: 350px;
}
// .text-center {
//   text-align: center;
// }
// .mb {
//   margin-bottom: 20px;
// }
// .fieldContainer {
//   display: flex;
//   flex-direction: column;
//   .defaultWidth {
//     display: flex;
//     flex-wrap: wrap;
//   }
//   .textField {
//     margin-left: 10px;
//     margin-right: 10px;
//     margin-bottom: 20px;
//   }
// }
